{# playing with variables #}
group_var={{ group_variable }}
host_var={{ host_variable }}
extra_var={{ extra_variable }}
role_var={{ role_variable }}
role_param={{ role_param }}
inventory_var={{ inventory_variable }}
facterOS={{ ansible_os_family }}
