{# playing with variables #}
facterOS={{ ansible_os_family }}

Experiment result:
var10 = {{ var10 }}
var11 = {{ var11 }}
var20 = {{ var20 }}
var21 = {{ var21 }}
var30 = {{ var30 }}
var31 = {{ var31 }}
var40 = {{ var40 }}
var41 = {{ var41 }}
var50 = {{ var50 }}
var51 = {{ var51 }}
var60 = {{ var60 }}
var61 = {{ var61 }}
var70 = {{ var70 }}
var71 = {{ var71 }}
var80 = {{ var80 }}
var81 = {{ var81 }}
